<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>

<!--PART - 1-->
<!--<h1>Home Page</h1>-->
<!--<button><a href="/about">About</a></button>-->
<!--<button><a href="/quote">Quote</a></button>-->
<!--<button><a href="/mostUsedLinks">Most Used Links</a></button>-->
<!--<button><a href="/gallery">Gallery</a></button>-->
<!--<button><a href="/services">Services</a></button>-->
<!--<button><a href="/contact">Contact</a></button>-->
<!--{{ name }} is from {{ place }}</h1>-->

<!--PART - 2-->
<h1>Welcome to text analyzer! Enter your text below : </h1>
<form action="/analyze" method="get">
    <textarea name='textarea' style="margin: 0px; width: 1130px; height: 165px;"></textarea><br>
    <input type='checkbox' name='removepunctuation'> Remove punctuations <br>
    <input type='checkbox' name='uppercase'> Transform to uppercase <br>
    <input type='checkbox' name='lowercase'> Transform to lowercase <br>
    <input type='checkbox' name='capitalize'> Capitalize <br>
    <input type='checkbox' name='removenewline'> Remove new lines <br>
    <input type='checkbox' name='removeextraspace'> Remove extra spaces <br>
    <input type='checkbox' name='countchacaters'> Count characters <br>
    <button type='submit'>Analyze text</button><br>
</form>

<!--<button><a href="/removepunctuation">removepunctuation</a></button>-->
<!--<button><a href="/capitalize">capitalize</a></button>-->
<!--<button><a href="/newlineremove">newlineremove</a></button>-->
<!--<button><a href="/spaceremove">spaceremove</a></button>-->
<!--<button><a href="/charcount">charcount</a></button>-->

</body>
</html>